@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-gloria: "Gloria Hallelujah", cursive;
  --font-bruno: "Bruno Ace", sans-serif;
  --font-orbitron: "Orbitron", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-noto: "Noto Sans", sans-serif;
}

@tailwind utilities;
